body {
    font-family: Microsoft JhengHei;
    overflow: hidden;
}

.wrapper {
    height: 100vh;
}

.left {
    width: 290px;
    float: left;
    margin: 0 auto;
}

.right {
    margin-left: 290px;
    height: inherit;
    position: relative;
}

.top {
    height: 105px;
    overflow: hidden;
}

.footer {
    height: 175px;
    width: 100%;
    position: absolute;
    bottom: 0;
}


/*========= 上面是layout 勿動  =========*/


/*---LEFT--------------------------------*/


/*--刊頭--*/

.user {
    background: #32adbc;
    padding: 20px;
    height: 105px;
    overflow: hidden;
}

.user_img {
    width: 90px;
    float: left;
    clear: both;
    margin-top: -5px;
}


/* user Bubble */

.user-bubblebox {
    position: absolute;
    top: 80px;
}

.user-bubble {
    background-color: #231816;
    border: 2px solid #FFF;
    margin: 20px auto;
    position: relative;
    width: 130px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 5px #888888;
    -webkit-box-shadow: 0 0 5px #888888;
    z-index: 999;
}

.user-bubble-arrow-border {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: -17px;
    left: 45px;
}

.user-bubble-arrow {
    border-color: transparent transparent #231816 transparent;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: -14px;
    left: 45px;
}


/* IE6 */

.user-bubble-arrow {
    _border-left-color: #231816;
    _border-bottom-color: #231816;
    _border-right-color: #231816;
    _filter: chroma(color=#231816);
}


/* ----------- */


/* user Bubble  ul*/

.user-bubble ul {	
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.user-bubble ul li {
    list-style: none;
    border-bottom: 1px solid #FFF;
    text-indent: 12px;
}

.user-bubble ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.user-bubble ul li a {
    color: #FFF;
    text-align: left;
    line-height: 36px;
}


/* ----------- */

.user_info {
    float: right;
    text-align: center;
    width: 160px;
}

.user_info span {
    background: #FFF;
    color: #32adbc;
    font-size: 24px;
    min-width: 125px;
    padding: 3px 10px;
    border-radius: 15px;
    text-align: center;
}

.user_info p {
    color: #FFF;
    font-size: 19px;
    padding-top: 10px;
}


/*--使用者--*/

.left h3 {
    font-size: 18px;
    line-height: 42px;
    color: #FFF;
    background: #1e242f;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0px;
}

.chatroom_user {
    /*height: 280px;*/
    border: 2px #000 solid;
    margin-bottom: 5px;
}

.chatroom_user div {
    width: 284px;
    margin-top: 0;
    overflow-y: scroll;
    height: 230px;
    margin-bottom: 5px;
}

.chatroom_user .label {
    padding: 3px 4px;
    /*white-space: normal;*/
    /*line-height: 38px;*/
    line-height: 20px;
}

.chatroom_user .label-white {
    cursor: pointer;
    display: inline-flex;
    background-color: #FFF;
    border: 2px solid #231815;
    margin: 4px;
    color: #231815;
    font-size: 15px;
}

.chatroom_user .label-white.active {
    background-color: #16ff5f;
}

.label-white[href]:hover,
.label-white[href]:focus {
    background-color: #5e5e5e;
}


/*--聊天室--*/

.chatroom {
    border: 2px #000 solid;
    height: calc(100vh - 395px);
}

.message {
    overflow-y: scroll;
    margin: 5px 0px 5px 5px;
    height: calc(100vh - 475px);
}

.message p {
    color: #231815;
    font-size: 15px;
    line-height: 1.42857143;
}

.message label {
    color: #009fe8;
    margin-bottom: 0;
    padding-right: 10px;
}

.chatroom input[type="text"] {
    width: 286px;
    position: absolute;
    bottom: 2px;
    height: 26px;
    line-height: 26px;
    text-indent: 5px;
}


/*--RIGHT------------------------------*/


/*--上方資訊--*/

.eagle_map {
    width: 260px;
    height: inherit;
    float: right;
    background: #FFF;
    border: 2px #000 solid;
}

.status {
    background: #FFF;
    border: 2px #000 solid;
    padding: 15px;
    margin-right: 270px;
    height: inherit;
    margin-left: 10px;
}

.status p {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}


/*--下方資源--*/

.resource {
    /* border: 2px #000 solid;*/
    height: inherit;
    /*position: absolute;
    bottom: 0;
    right: 0;*/
    width: calc(100vw - 300px);
    margin-left: 10px;
    /*left: 300px;*/
}

.resource_L {
    width: 120px;
    background: #32adbc;
    height: inherit;
    float: left;
    text-align: center;
    margin-right: 3px;
}


/*.resource_L img {
    margin: 0 auto;
    }*/

.resource_L p {
    color: #FFF;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 6px;
}

.resource_L .department {
    font-size: 16px;
}

.resource_L .unit {
    font-size: 13px;
}

.Detachments_badge {
    padding: 4px 12px;
    font-size: 16px;
    background: #231815;
}

.Bit_badge {
    padding: 4px 12px;
    font-size: 16px;
    background-color: #32adbc;
    color: #FFF;
    border-radius: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.resource_R {
    height: inherit;
    margin-left: 105px;
    background-color: white;
}

.resource_category {
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
}

.resource_category li {
    width: 90px;
    float: left;
    background: #1e242f;
    list-style: none;
    border-right: 2px solid #FFF;
    height: 35px;
    background: #888;
    text-align: center;
}

.resource_category li a {
    line-height: 32px;
    color: #FFF;
    font-size: 16px;
    letter-spacing: 1px;
}

.resource_category li a {
    text-decoration: none;
}

.resource_category li:hover,
.resource_category li.active {
    background: #1e242f;
    color: #FFF;
}

.resource_items {
    /*position: absolute;
    top: 0;
    left: 105px;*/
    overflow: hidden;
    border: 2px #000 solid;
    padding: 4px;
}

.resource_item {
    /*position: absolute;
    top: 40px;*/
    border: 2px #000 solid;
    width: 104px;
    /*height: 109px;*/
    /*left: 2px;*/
    float: left;
    text-align: center;
    /* margin-top: 2px; */
    margin-right: 5px;
}

.resource_item img {
    /*position: absolute;
    top: 0;
    left: 12px;*/
    margin-top: 4px;
    background: #efefef;
}

.resource_item p {
    width: 70px;
    text-align: center;
    /* position: absolute;
    top: 42px;*/
    font-weight: bold;
    width: 100px;
    color: #231815;
}

.resource_item div {
    width: 100px;
    /*position: absolute;
    top: 63px;
    left: 0px;*/
    margin-top: -5px;
}

.resource_item div button {
    padding: 1px 4px;
}

.resource_item div input[type="text"] {
    margin-left: -1px;
    margin-right: -1px;
    width: 40px;
    text-align: center;
}

.button_box {
    float: right;
    margin-right: 15px;
    height: 100px;
}

.button_box button {
    line-height: 30px;
    margin-top: 22px;
}

.btn_XL {
    padding: 2px 20px;
    border-radius: 20px;
}

.btn-black {
    color: #fff;
    background-color: #110c0a;
    border-color: #231815;
    font-size: 16px;
}

.btn-black:hover {
    color: #fff;
    background-color: #32adbc;
    border-color: #227e89;
}

.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
    color: #fff;
    background-color: #32adbc;
    border-color: #227e89;
}

.Requiredbox {
    margin-top: -295px;
    font-size: 30px;
    margin-right: 10px;
    text-align: right;
}

.Requiredbox .glyphicon {
    cursor: pointer;
    margin-right: 20px;
    margin-top: 8px;
    color: red;
}

.Requiredbox .glyphicon:hover {
    box-shadow: 3px 3px 5px #888888;
}

.Required {
    height: 220px;
    width: 150px;
    background: #231815;
    margin-bottom: 2px;
    padding-bottom: 10px;
}

.Required h3 {
    color: #FFF;
    font-size: 16px;
    text-align: left;
    text-indent: 15px;
    line-height: 36px;
}

.Required ul {
    padding: 0;
    margin: 0;
    margin-top: -5px;
    overflow-y: scroll;
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
    width: 140px;
    height: 160px;
}

.Required ul li {
    color: #FFF;
    font-size: 16px;
    list-style: none;
    text-align: left;
    text-indent: 15px;
}

.triangle_icon {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #231815 transparent transparent transparent;
    margin-right: -24px;
}
